<!DOCTYPE html>
<html lang="en" class={if @current_user do "has-navbar-fixed-bottom has-navbar-fixed-top" end}>
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Madari", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
    <link rel="shortcut icon" type="image/png" href={Routes.static_path(@conn, "/images/icon.png")}/>
  </head>
  <body>
    <%= if @current_user do %>
      <%= live_render(@conn, MadariWeb.Navbar.Top, id: "navbar-top") %>
    <% end %>

    <%= @inner_content %>

    <%#= if @current_user do %>
      <%#= live_render(@conn, MadariWeb.Navbar.Bottom, id: "navbar-bottom") %>
    <%# end %>
  </body>
</html>
